/*
Path pattern: 	/issues/[0-9]+$
*/
 	

/* CSS for issues */

li code {
    padding: .2em .5em;
    background-color: #ddf1ff;
    font-style: italic;
}

div#content p > code {
    padding: .2em .5em;
    background-color: #ddf1ff;
    font-style: italic;
}

